<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.navibeidou.beidou">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- 地图SDK（包含其搜索功能）需要的基础权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Android 11+ 包可见性限制：支付宝SDK需要能检测到支付宝是否已安装 -->
    <queries>
        <package android:name="com.eg.android.AlipayGphone" />
    </queries>

    <!-- 广告/统计 SDK 的 Manifest 会声明宽泛存储权限；本应用不需要，禁止合并进 APK。 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="remove" />

    <application
        android:name=".ApplicationShared"
        android:allowNativeHeapPointerTagging="false"
        android:extractNativeLibs="true"
        android:usesCleartextTraffic="${usesCleartextTraffic}"
        android:icon="@mipmap/icon_trans"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_trans"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="dh2V6BNKX8GMaCmkwXyG8RW6ecii83cG" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="8a233e529a86ccff8f5d8b18f06f06d3">
            <!--//开发者申请的key-->
        </meta-data>

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".InitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.amap.api.navi.AmapRouteActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NaviFullscreen"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation" />
        <activity
            android:name=".IndexActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".MainHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VipActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity="cn.navibeidou.beidou"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.alipay.sdk.app.AlipayResultActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${ALIPAY_SCHEME}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".SplashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:name=".WebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash"></activity>
        <activity
            android:name="cn.navibeidou.beidou.ProtocolActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash"></activity>
        <activity
            android:name="cn.navibeidou.beidou.GameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash"></activity>
        <activity
            android:name=".PoiAroundSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash"></activity>
        <activity
            android:name=".PoiKeywordSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash"></activity>
        <activity
            android:name=".WeatherSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash"></activity>
        <activity
            android:name=".JsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash" />
        <activity
            android:name=".WorldPanoramaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash" />
        <activity
            android:name=".WorldPanoramaDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash" />
        <activity
            android:name=".CloudPanoramaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash" />
        <activity
            android:name=".CloudWebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash" />
        <activity
            android:name=".QuanJingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash"></activity>
        <activity
            android:name=".PanoDemoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
        </activity>
        <activity
            android:name="cn.navibeidou.beidou.indoor.PanoDemoCoordinate"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
        </activity>
        <activity
            android:name=".navi.DriverListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Splash"/>

        <activity
            android:name=".navi.RestRouteShowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Splash"/>

        <activity
            android:name=".navi.WalkRouteCalculateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Splash"/>

        <activity
            android:name=".navi.RideRouteCalculateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Splash"/>

        <activity
            android:name=".navi.TruckRouteCalculateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Splash"/>

        <!--穿山甲-->
        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />

        <!-- <meta-data
             android:name="com.google.android.gms.ads.APPLICATION_ID"
             android:value="ca-app-pub-2547387438729744~9596900917" />

         &lt;!&ndash;This meta-data tag is required to use Google Play Services.&ndash;&gt;
         <meta-data
             android:name="com.google.android.gms.version"
             android:value="12451000" />-->

        <!--优量汇-->
        <!--<meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2547387438729744~9596900917" />

        &lt;!&ndash;This meta-data tag is required to use Google Play Services.&ndash;&gt;
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="12451000" />

        <provider
            android:name="com.qq.e.comm.GDTFileProvider"
            android:authorities="${applicationId}.gdt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>
